.qr-container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  min-height: 100vh;
}

.input-container {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  width: fit-content;
  flex-wrap: wrap;
  
}

.input-container input {
  outline: none;
  border-radius: 10px;
  border: 2px solid transparent;
  font-size: 1.5rem;
  padding: .5rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  flex: 1;
}

.input-container input:focus {
  border: 2px solid rgb(100, 100, 255);
}

.input-container button {
  background-color: rgb(100, 100, 255);
  color: #fff;
  padding: .5rem 1rem;
  font-size: 1.25rem;
  border: none;
  outline: none;
  border-radius: 10px;
  flex: 1;
}
.input-container button:active{
  background-color: rgb(78, 78, 243);
}
.input-container button:focus{
  background-color: rgb(98, 98, 210);
}

.qr-code-container {
  width: 100%;
  max-width: 400px;
  aspect-ratio: 1/1;
}

